.git
.idea
go.sum
*/logout/
*.log
/apps/activity/main
/apps/temp/main
apps/activity/logout/*.log
/apps/activity/model/gormt
.vscode
third/gormt/gormt
/tools/files/Thumbs.db
/tools/files/Thumbs.db:encryptable
/tools/files/fileMove
*.gif
*.exe